body {
    padding: 20px;
}

/* Тут ми до обовязкових інпутів та текстаріа додаємо стилізацію щодо візуалізації останніх, для того щоб користувач розумів через візуальні сигнали що дані поля є обовязковими для заповнення данними */
input:required, textarea:required {
    border-color: red;
}