/* Перший приклад: селектор + значення "1" - в цьому випадку ми звертаємось до першого дочірнього елементу. Дублюючи звернення до різних піделементів можна стилізувати кожного окремо, ймовірно часто можна застосовувати.*/
li:nth-child(1) {
    color: red;
}

li:nth-child(12) {
    color: aquamarine;
}

/* Тут із застосуванням - "odd", ми звертаємось до усіх не парних за числом піделементів (1, 3, 5, 7, 9, 11 і так далі) */
li:nth-child(odd) {
    color: red;
}

/* Тут із застосуванням - "even", все навпаки, ми звертаємось до усіх парних за числом піделементів (2, 4, 6, 8, 10 і так далі) */
li:nth-child(even) {
    color: green;
}

/* Тут ми звертаємось через вираз. У даному випадку будуть обиратися всі парні дочірні піделементи */
li:nth-child(2n) {
    color: rgb(60, 19, 241);
}
/* Формула:
        2*0=0
        2*1=2
        2*2=4
        2*3=6
        2*4=8    .... */


/* Тут ми звертаємось через вираз. У даному випадку будуть обиратися всі не парні дочірні піделементи, у звязку із додаванням до парних чисел "+1" */
li:nth-child(2n+1) {
    color: rgb(236, 67, 160);
}

 /* Формула:
        2*0+1=1
        2*1+1+3
        2*2+1=5
        2*3+1=7
        2*4+1=9     ..... */

/* ! Ніби нічого складного немає: формула складається з першого числа яке буде множитись на парні числа від "0", тобто "n", а останнє число буде додаватися до результату помножених попередньо чисел */

/* Якщо ми вкажемо лише значення "n" - тоді будуть вибрані всі елементи від "0" та до останнього дочірнього піделемента */
li:nth-child(n) {
    color: rgb(67, 236, 67);
}

/* Тут ми звертаємось до усіх елементів починаючи з 5-го піделемента */
li:nth-child(n+5) {
    color: rgb(92, 67, 236);
}

/* Існує також мінусова формула, у попередньому прикладі ми йшли у верхню межу чисел. А у цьому випадку ми звертаємось до нижніх чисел по рахунку піделементів. Тут будуть вибрані перші 5 чисел */
li:nth-child(-n+5) {
    color: rgb(67, 236, 67);
}

/* Для того щоб не звертатись до кожного піделемента окремо у необхідності звернення до різних піделементів можна користуватись наступним підходом: */
li:nth-child(n+2):nth-child(-n+3),
li:nth-child(n+5):nth-child(-n+6),
li:nth-child(n+9):nth-child(-n+10) {
    color: rgb(236, 182, 67);
}
/* У даному прикладі ми обрали дочірні піделементи: 2,3, 5,6,9,10 */