/* Звернення до кожного елементу окремо */

h1 {
    color: brown;
}

h2 {
    color: coral;
}

p {
    color: burlywood;
}

/* Звернення до усіх елеемнтів одночасно, з икористанням звернення до селектору класу */

.M1, .M2, .M {
    color: aquamarine;
}

/* Звернення по айді селектора */

#header_1{
    color: yellow;
}

#header_2 {
    color: bisque;
}

#paragraph_3 {
    color: darkkhaki;
}

/* 
Висновок:
h1 - звертаємося до тегу
.h1 - звертаємося до класу
#h1 - звертаємося до айді (звернення по айді використовується для підключення JS) 
*/
