/* Така ж ситуація як і з :only-child, можемо стилізувати лише ті піделементи які по відношенню до батьківського елемента є єдиними */
p:only-of-type {
    color: red;
}

/* Для того щоб подивитися які саме піделементи є єдиними можемо звернутися до батьківського елемента */
section :only-of-type {
    color: blueviolet;
}