/* Тут ми красимо усі піделементи у списку окрім тих які мають клас - .item */
li:not(.item) {
    color: red;
}

/* Тут ми звертаємось до всіх елементів крім першого */
li:not(:first-child) {
    color: rgb(108, 24, 218);
}

/* Можна обєднювати елементи до яких ми не звертаємось */
li:not(:first-child, :last-child) {
    color: rgb(24, 218, 56);
}