/* Буде обрано останній піделемент зі списку */
li:nth-last-child(1) {
    color: red;
}
/* Звернення відбудеться до пятого піделементу знизу */
li:nth-last-child(5) {
    color: red;
}

/* Звертаємося до непарних піделементів списку, але з кінця */
li:nth-last-child(odd) {
    color: rgb(62, 25, 165);
}

/* Звертаємося до парних піделементів списку, але з кінця */
li:nth-last-child(even) {
    color: rgb(255, 230, 0);
}

/* Також можна звертатися до дочірніх піделементів через формулу (дивитися на деталі як працює формула в уроці: "Псевдо-клас :nth-child") */