/* Тут ми задаємо стилізацію для поведінки інпута в межах обраного та правдивого ренджу (в межах встановлених значень мінімум та максимум) */
input[type=number]:in-range {
    background-color: greenyellow;
}

/* Тут ми задаємо стилізацію для поведінки інпута в межах обраного та не правдивого ренджу (за межами встановлених значень мінімум та максимум). Примітка !!! Не працює з мінусовими значеннями*/
input[type=number]:out-of-range {
    background-color: coral;
}

/* Тут ми задаємо стилізацію створеному псевдо-елементу :after в межах :out-of-range */
input[type=number]:out-of-range + label::after {
    content: '  (Ви вийшли за межі діапазону (ренджу)) \26A0';
    color: red;
}

/* Тут ми задаємо стилізацію створеному псевдо-елементу :after в межах :in-range */
input[type=number]:in-range + label::after {
    content: '  (Ви знаходитеся в межах діапазону (ренджу)) \2705';
    color: green;
}