/* 3 пари правил: */

/* Перша пара правил */
body h1 { /* Win */
    color: green; /* 0, 0 (вісутній ідентифікатор), 0 (немає класу), 2 (кількість елементів) - 0,0,0,2 - "Переважає цей селектор"*/
}

h1 { /* Lose */
    color: red; /* 0, 0 (вісутній ідентифікатор), 0 (немає класу), 1 (кількість елементів) - 0,0,0,1 - "Цей селектор програє"*/
}

/* Друга пара правил */
h2.title { /* Win */
    color: blue; /* 0, 0 (вісутній ідентифікатор), 1 (наявне імя класу), 1 (кількість елементів) - 
    0,0,1,1 - "Переважає цей селектор"*/
}

h2 { /* Lose */
    color: maroon; /* 0, 0 (вісутній ідентифікатор), 1 (відсутнє імя класу), 1 (кількість елементів) - 
    0,0,0,1 - "Цей селектор програє"*/
}

/* Третя пара правил */
html body nav ul li { /* Lose */
    color: gray;/* 0, 0 (вісутній ідентифікатор), 0 (dslceny' імя класу), 5 (кількість елементів) - 
    0,0,0,5 - "Переважає цей селектор"*/
}

li#item { /* Win */
    color: blueviolet; /* 0, 1 (наявний ідентифікатор), 0 (відсутнє імя класу), 1 (кількість елементів) - 
    0,1,0,1 - "Переважає цей селектор"*/
}