/* Так обирається перший параграф <p> по відношенню до h1*/
h1 + p {
    color: rgb(138, 43, 226);
}

/* Так обирається другий параграф <p> */
h1 + p + p {
    color: rgb(170, 40, 40);
}

/* Так обирається третій параграф <p> */
h1 + p + p + p {
    color: rgb(77, 11, 11);
}

/* ... і так далі */

/* Таким методом можна визначити усі сестринські елементи ! До прикладу існує 5. З кожним "... + p" ми визначаємо наступний параграф */

/* Параграфи які ми не оголосили та вони залишаються не стилізованими -  можна оголосити наступним методом: */

p + p {
    color: chartreuse;
}

/* ... таким чином ми обираємо сестринські елементи, які серед потоку повинні належати до іншої стилізації у кількості декількох елементів */
