/* Тут ми застосовуємо стилі для контенту елементів, які не можна змінювати - можна лише читати */
.example:read-only {
    color: black;
    background: red;
}

/* Тут ми застосовуємо стилі для контенту елементів, які можна змінювати та читати */
.example:read-write {
    color: black;
    background-color: green;
}