/* Основний окореневий батьківський елемент - 16px */
html {
    font-size: 100%;
}

/* Для першого дoчірнього ul - 24px (15*1em.5=24), для вкладеного нижчого на один рівень ul - 36px (24*1.5em=36). У цьому випадку бачимо, що em сприймає для підрахунку любий батьківський елемент по ієрархії */
ul {
    font-size: 1.5em;
}

/* Для першого дoчірнього ul - 24px (15*1rem.5=24), для вкладеного нижчого на один рівень ul - 24px (16*1.5rem=24). У цьому випадку бачимо, що rem сприймає для підрахунку для усіх дочірніх елементів значення лише основного батьківського елементу */
ul {
    font-size: 1.5rem;
}

/* ! Повторення попеерднього уроку "Одиниці виміру в CSS Відносні" ! */