/* "Атрибут" - вибере елементи з вказаним атрибутом */
.link[class] {
    color: red;
}

/* "Атрибут - значення" - вибере значення у яких атрибут точно відповідає значенню */
a[href="#!"] {
    color: green;
}

/* "Атрибут - значення" - вибере значення у яких атрибут точно відповідає значенню (приклад № 2)*/
input[type="text"] {
    border: 2px solid darkmagenta;
}

input[type="password"] {
    border: 2px solid blueviolet;
}

/* Атрибут^ - значення: вибере елементи у яких значення атрибута починається з вказаного значення */
a[href^="pa"] {
    color: blue;
}

/* Атрибут$=значення: вибере елементи у яких значення атрибута закінчується на вказане значення */
a[href$="ss"] {
    color: fuchsia;
}

/* Атрибут* - "значення" - вибере елементи у яких атрибут містит вказані значення */
a[href*="word"] {
    color: gold;
}

/* Атрибут* - "значення" - вибере елементи у яких атрибут містит вказані значення (несе у собі актуальність для прикладів наведених нижче) */
/* !!! У даному випадку ми можемо звернутися до усіх атрибутів за ключовим словом назви елементу !!! */
img[src*="woman"] {
    border: 2px solid red;
}

/* Атрибут~="слово": вибере елементи у яких атрибут містить вказане слово повністю (використовуються коли значення атрибуту використовуються слова розділені пробілами) */
a[class~="element2"] {
    color: cadetblue;
}

/* Атрибут| = "значення": вибере елементи в яких атрибут точно рівний значенню, або починається з вказаного значення після якого йде дефіс */
a[class|="hello"] {
    color: plum;
}