/* Тут застосовуємо пікселі */
h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}
/* Тут застосовуємо пункти */
h1 {
    font-size: 50pt;
}

p {
    font-size: 25pt;
}

/* Тут застосовуємо піки */
h1 {
    font-size: 2.5pc;
}

p {
    font-size: 5.5pc;
}
/* Тут застосовуємо реальні одиниці вимірів у цифровому варіанті (сантиметри, міліметри) */
div {
    width: 20cm;
    height: 300mm;
    background-color: black;
}

/* Тут застосовуємо реальні одиниці вимірів у цифровому варіанті (дюйми) */
div {
    width: 2.54cm;
    height: 1in; /* 1 дюйм - 96 пікселів, а 2,54 сантиметра */
    background-color: black;
}