/* Стилізуємо пустий елемент */
li:empty {
    background-color: red;
}

/* Приховуємо пустий елемент */
li:empty {
    display: none;
}

/* У даному випадку буде відпрацьовувати li:empty - display: none, так як псевдо-елементи :before :after не являються вмістом контенту */
li:nth-child(5)::before {
    content: '+ Item ';
}

/* Ось тут функція яку не потрібно застосовувати. Нею фактично видаляємо зі всієї сторінки усі елементи без вмісту контенту, такі як br hr та інші */
*:empty {
    display: none;
}
