/* Тут ми стилізуємо поведінку посилання при кліку або при натисканні tab з клавіатури */

/* Все ніби працює, однак при кліку - поле бекграунда чомусь із квадратними рамками, а при виборі через tab - рамки відображаються із заокругленою формою */
a:focus {
    color: red;
    background-color: black;
}

input:focus {
    background-color: black;
    color: green;
}