/* Схожа ситуація з :nth-child(). Формули працюють ідентичним чином */

/* Тут ми обираємо 2 параграф */
p:nth-of-type(2) {
    color: red;
}

/* Тут ми обираємо перший елемент з кінця */
p:nth-last-of-type(1) {
    color: blueviolet;
}

/* Тут ми обираємо 5 елемент зі списку */
ul li:nth-of-type(5) {
    color: blue;
}