/* Ось тут ми додаємо бордер для заголовку і бачимо, що бордер для <em> не застосовується, що в принципі є логічною поведінкою для зручності*/
h2 {
    color: blue;
    border: 1px solid red;
    padding: 10px;
}

/* Але у цьому випадку ми примусово застосовуємо бордер для <em> */
h2 em {
    border: inherit;
}

/* Тут ми застосовуємо для <em> властивості кольору за рідними налаштуваннями, тобто робимо так щоб властивості задані до його батьківського елемента не працювали стосовно його дочірнього елемента */
h2 em {
    color: initial;
}