/* Тут ми стилізуємо перший рядок блочного елементу */
/* p::first-line {
    color: red;
    font-size: 25px;
} */

/* Тут ми стилізуємо першу букву першого рядка блочного елементу */
p::first-letter {
    color: red;
    font-size: 25px;
}