/* Тут ми звертаємося до тегу та його класу */
h2.text {
    color: red;
}
/* Тут ми також звертаємося до тегу та його класу */
p.text {
    color: blue;
}
/* Тут ми оголошуємо <p> які залишилися та у яких класу немає */
p + p {
    color: chartreuse;
}