/* Тут ми стилізуємо лінку виключно для ховеру */
a:hover {
    color: greenyellow;
}

/* Ось тут до прикладу ми стилізуємо ховер суто для виділеного тексту */
span:hover {
    background-color: black;
    color: red;
}