/* Стилі для заголовку першого типу */

h1 {
    color: blueviolet; /* Додавання фіолетового кольору */
    text-align: center; /* Вирівнювання тексту по центру */
    font-style: 25px;
    font-weight: bold;
}

/* 
Ctrl + / (коментувати увесь кусочок коду)
Shift + Alt + A (коментувати вибраний кусочок коду)
 */
