/* Тут ми в псевдо-клас :root додали перемінну - "red" та значення - #ff0000 */
/* Нижче встановлюємо значення для бекграунда */
:root {
    --red: #ff0000;  
    --bg: #00ffff;
}

/* Прописуємо бекграунд для всієї сторінки */
body {
    background-color:var(--bg)
}

/* Тепер ми замість вказання необхідного вище наведеного кольору, у графі властивість прописуємо "var"(функцію) і вказуємо імя властивості "--red" */
h1 {
    color: var(--red);
}