/* Тут стилі будуть застососуватись тільки для того дочірнього елементу, до якого ми звертаємося та який являється одним та єдиним дочірнім елементом такого типу в бутьківському елементі */
p:only-child {
    color: red;
}

/* Дивне застосування. У цьому другому випадку, навіть якщо існує батьківський елемент де є єдиний дочірній елемент до якого ми звертаємося, але існує також дочірній елемент іншого типу стилі до піделементу застосовуватись не будуть. Висновок: :only-child спрацьовує тільки коли в батьківському елементі є лише один дочірній піделемент і саме такого типу до якого ми звертаємося. */
h3:only-child {
    color: green;
}