/* максимальна важливість */
p {
    color: orange !important;
}

/* Специфічність: перевагу отримує обєкт з ідентифікатором */
h1 {
    color: red;
}

#title {
    color: blueviolet;
}

/* Перевагу отримує властивість яка вказана нижче */
h2 {
    color: blue;
}

h2 {
    color: red;
}