.first {
    display: none;
  }
  
  .second {
    /* visibility: hidden; */
    /* opacity: 0; */
    color: transparent;
  }

  h3 {
    opacity: 0;
    animation: move linear infinite;
    transition: 4s;
  }

  @keyframes move {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
     opacity: 1;
    }
   }
  

  h4 {
    opacity: 100;
    background-position-x: ;
    background-attachment: ;
  }
