/* Ми можемо стилізувати усі посилання згрупувавши всі селектори і класи :link та :visited  */
a:link, a:visited {
    color: red;
}

/* Або зробити це простішим способом: */
a:any-link {
    color: greenyellow;
}