/* Застосовуємо 3 варіанти кольорів для отримання одного - змішаного, 4та вдластивість - прозорість. Якщо "0" - повністю прозорий, якщо "1" відображає натуральний колір без жодної прозорості */
body {
    background-color: hsl(150, 100%, 50%);
    border-style: dashed;
}

h2 {
    color: red;
    border: 1px solid currentColor; /* currentColor - означає, що рамка унаслідує колір елемента і теж буде червоною */
}

p {
    color: transparent; /* значення властивості transparent - означає що елемент стане повністю прозорим та його не буде видно на сторінці */
}

button {
    background-color: transparent; /* з кнопки зникне колір який їй присвоюється за замовчуванням */
}